<template>
  <div>
    <input :id="name" :name="name" :type="type" :value="name" v-model="currentValue" />
    <label :for="name">{{ name }}</label>
  </div>
</template>

<script>
export default {
  model: {
    prop: "modelValue",
    event: "change"
  },
  props: {
    name: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: "checkbox",
      validator: v => ["checkbox", "radio"].includes(v)
    },
    modelValue: [Array, String]
  },
  computed: {
    currentValue: {
      get() {
        return this.modelValue;
      },
      set(newVal) {
        this.$emit("change", newVal);
      }
    }
  }
};
</script>