<template>
  <div>
    <h1>Input-Test</h1>
    <pre>
        Checkboxes:
        {{ checkboxes.join(', ') }}

        Radios:
        {{ radios }}
    </pre>
    <h2>Checkboxes</h2>
    <Input name="c1" v-model="checkboxes" />
    <Input name="c2" v-model="checkboxes" />
    <h2>Radio</h2>
    <Input name="r1" type="radio" v-model="radios" />
    <Input name="r2" type="radio" v-model="radios" />
  </div>
</template>

<script>
import Input from "./components/Input.vue";

export default {
  name: "App",
  components: {
    Input
  },
  data() {
    return {
      checkboxes: [],
      radios: ""
    };
  }
};
</script>

<style></style>
